torch
torchvision
numpy==1.26.4
scipy
opencv-python
Pillow
tqdm
matplotlib
pandas
torchmetrics
lpips
comet_ml
hydra-core
datasets
huggingface_hub
gdown

waveprop @ git+https://github.com/ebezzam/waveprop.git
slm_controller @ git+https://github.com/ebezzam/slm-controller.git

black
isort
pre-commit
flake8
